body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: url(../images/Background_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Keep the header above other content */
}

main {
  padding-top: 60px; /* Make room for the fixed header */
  transition: opacity 0.5s ease-out;
}

.logo {
  font-size: 2rem; /* Large font size for visibility  */
  color: white; /* White color for contrast */
  font-family: "The Amsterdam", sans-serif;
  position: absolute;
  top: 0px;
  left: 40px;
  text-decoration: none;
  z-index: 1000; /* Make sure it's above other elements */
}

nav {
  width: 70%;
  position: Fixed;
  top: 21px;
  left: 400px;
  padding-top: 20px; /* Adjust padding to make space for the line */
}

nav ul li.active a {
  background-color: #808080; /* Grey color for the active tab */
  border-radius: 20px; /* Rounded corners for the oval shape */
  padding: 10px 20px; /* Padding for aesthetic spacing */
}

nav::before {
  content: "";
  position: absolute;
  top: 49px; /* Position at the top of the nav */
  left: -450px;
  width: 420px; /* Take full width minus logo width */
  height: 2px; /* Height of the line */
  background-color: white; /* Color of the line */
  z-index: 999;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 20px 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #60af4c; /* Change hover color */
}

.welcome-area h1 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.welcome-area p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.download-CV {
  display: block;
  background: #68af4c;
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  margin-top: 5px;
  border-radius: 20px;
  transition: background 0.3s ease;
  text-align: center;
  position: fixed;
  top: 600px;
  left: 590px;
}

.download-CV:hover {
  background: #3a8b5e57; /* Darker green on hover */
}

.content-section {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.content-section.active {
  display: block;
  opacity: 1;
}

.content-section h1 {
  position: relative;
  top: 120px;
  left: 200px;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.about-info p {
  position: relative;
  top: 120px;
  left: 120px;
  width: 60%;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.profile-pic img {
  position: relative;
  left: 50px;
  border-radius: 50%; /* Circular image */
}

.selected-projects {
  width: 80%;
  margin: 20px auto;
  color: white;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.selected-projects h1 {
  position: fixed;
  top: 100px;
  left: 50px;
}

.selected-projects.active {
  display: block;
  opacity: 1;
}

.project-item1 {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  margin: 10px 0px;
  width: 46%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  position: fixed;
  top: 200px;
  left: 40px;
}

.project-item1:hover {
  background: rgba(0, 0, 0, 0.5); /* Darker on hover */
}

.project-item2 {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  margin: 10px 0;
  width: 46%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  position: fixed;
  top: 200px;
  left: 750px;
}

.project-item2:hover {
  background: rgba(0, 0, 0, 0.5); /* Darker on hover */
}

.project-item3 {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  margin: 10px 0;
  width: 46%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  position: fixed;
  top: 400px;
  left: 40px;
}

.project-item3:hover {
  background: rgba(0, 0, 0, 0.5); /* Darker on hover */
}

.project-item4 {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  margin: 10px 0;
  width: 46%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  position: fixed;
  top: 400px;
  left: 750px;
}

.project-item4:hover {
  background: rgba(0, 0, 0, 0.5); /* Darker on hover */
}

.project-number {
  background: #68af4c; /* White circle background */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 10px;
  font-size: 1.5rem;
  position: relative;
  top: 50px;
  left: 5px;
}

.project-info h3 {
  font-size: 1.5rem;
  text-align: center;
}

.project-info p {
  font-size: 1rem;
  text-align: center;
}

.more-projects {
  display: block;
  background: #68af4c;
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  margin-top: 5px;
  border-radius: 20px;
  transition: background 0.3s ease;
  text-align: center;
  position: fixed;
  top: 600px;
  left: 590px;
}

.more-projects:hover {
  background: #3a8b5e57; /* Darker green on hover */
}

.internships {
  width: 80%;
  margin: 20px auto;
  color: white;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.internships h1 {
  position: fixed;
  top: 100px;
  left: 50px;
}

.internships.active {
  display: block;
  opacity: 1;
}

.intern1 {
  margin: 10px 0px;
  width: 40%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  text-align: center;
  position: fixed;
  top: 200px;
  left: 40px;
}

.intern-info h3 {
  font-size: 1.5rem;
}

.intern-info p {
  font-size: 1rem;
}

.intern2 {
  margin: 10px 0px;
  width: 40%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  text-align: center;
  position: fixed;
  top: 200px;
  left: 800px;
}

.intern-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.education.active {
  display: block;
  opacity: 1;
}

.education {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  padding-top:  50px;
  color: white;
}

.section-heading h2 {color: white; position: absolute; top: 100px; left: 650px;}

.education-horizontal-timeline {
  padding: 80px 0;
}

/*.education-horizontal-timeline*/
.education-horizontal-timeline .col-sm-4 {padding:0 2px;}

.single-horizontal-timeline .experience-time h3{text-transform: capitalize; color: white;}
.single-horizontal-timeline .experience-time h2{color: white;}
.single-horizontal-timeline .timeline-content h4{color: white;}
.single-horizontal-timeline .experience-time h3 span{text-transform:lowercase; color: white;}
.single-horizontal-timeline .timeline-content h5 {margin: 15px 0; color: white;}
.single-horizontal-timeline p {color: white;max-width: 335px;}

/*.timeline-horizontal-border*/
.timeline-horizontal-border {
  display:  flex;
  align-items: center;
  padding: 26px 0 30px;
}
.timeline-horizontal-border i {
  font-size:  10px;
  color: #2cf93a;
  margin-right:  5px;
}
span.single-timeline-horizontal {
  display:  inline-block;
  background: #f5f6f8;
  height:  1px;
  width: 380px;
}
span.single-timeline-horizontal.spacial-horizontal-line {width: 88px;}

.skills {
  width: 80%;
  margin: 20px auto;
  color: white;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.skills h1 {
  position: fixed;
  top: 100px;
  left: 50px;
}

.skills.active {
  display: block;
  opacity: 1;
}

.skill-item1 {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  margin: 10px 0px;
  width: 46%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  position: fixed;
  top: 200px;
  left: 40px;
}

.skill-item1:hover {
  background: rgba(0, 0, 0, 0.5); /* Darker on hover */
}

.skill-item2 {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  margin: 10px 0;
  width: 46%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  position: fixed;
  top: 200px;
  left: 750px;
}

.skill-item2:hover {
  background: rgba(0, 0, 0, 0.5); /* Darker on hover */
}

.skill-item3 {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  margin: 10px 0;
  width: 46%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  position: fixed;
  top: 400px;
  left: 40px;
}

.skill-item3:hover {
  background: rgba(0, 0, 0, 0.5); /* Darker on hover */
}

.skill-item4 {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  margin: 10px 0;
  width: 46%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  position: fixed;
  top: 400px;
  left: 750px;
}

.skill-item4:hover {
  background: rgba(0, 0, 0, 0.5); /* Darker on hover */
}

.skill-number {
  background: #68af4c; /* White circle background */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 10px;
  font-size: 1.5rem;
  position: relative;
  top: 50px;
  left: 5px;
}

.skill-info h3 {
  font-size: 1.5rem;
  text-align: center;
}

.skill-info p {
  font-size: 1rem;
  text-align: center;
}

.certifcates {
  display: block;
  background: #68af4c;
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  margin-top: 5px;
  border-radius: 20px;
  transition: background 0.3s ease;
  text-align: center;
  position: fixed;
  top: 600px;
  left: 590px;
}

.certifcates:hover {
  background: #3a8b5e57; /* Darker green on hover */
}

.contacts {
  width: 80%;
  margin: 20px auto;
  color: white;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.contacts h1 {
  font-size: 2rem;
  position: fixed;
  top: 100px;
  left: 650px;
}

.contacts.active {
  display: block;
  opacity: 1;
}

.contact1 {
  margin: 10px 0px;
  width: 40%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  text-align: center;
  position: fixed;
  top: 200px;
  left: 40px;
}

.contact-info h3 {
  font-size: 1.5rem;
}

.contact-info p {
  font-size: 1rem;
  color: white;
}

.contact-info a{
  text-decoration: none;
}

.contact2 {
  margin: 10px 0px;
  width: 40%;
  padding: 0px;
  border-radius: 10px;
  transition: background 0.3s ease;
  text-align: center;
  position: fixed;
  top: 200px;
  left: 800px;
}

.contact-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.fade-in-content {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Extra small devices (phones, less than 600px) */
@media (max-width: 600px) {
  .logo {
    font-size: 0.1rem; /* Smaller font size */
    left: 20px; /* Adjusted positioning */
  }

  nav {
    width: 100%; /* Full width for phones */
    left: 0;
    padding-top: 40px;
  }

  nav ul {
    font-size: 0.6rem;
    padding: 10px;
  }

  nav ul li {
    margin-bottom: 10px; /* Add space between links */
  }

  .welcome-area h1 {
    font-size: 0.7rem; /* Smaller heading for small screens */
  }

  .welcome-area p {
    font-size: 0.5rem; /* Smaller paragraph text */
  }

  .content-section h1 {
    top: 20px;
    left: 5px;
    font-size: 1rem;
  }

  .about-info p{
    top: 20px;
    left: 65px;
    width: 60%;
    font-size: 0.8rem;
  }

  .profile-pic img {
   display: none; 
  }


  .selected-projects {
    width: 90%; /* Adjust width for smaller screens */
    margin: 0 auto; /* Centered */
    padding: 20px; /* Add padding for spacing */
  }

  .selected-projects h1 {
    position: relative;
    top: 10px;
    left: 0; /* Center title on small screens */
    text-align: center;
    font-size: 1rem;
  }

  .project-item1, .project-item2, .project-item3, .project-item4 {
    width: 90%; /* Full width for project items */
    position: relative; /* Relative positioning for better control */
    top: auto;
    left: auto;
    margin: 15px auto; /* Center and add spacing between items */
  }

  .project-item1 {
    margin-top: 40px; /* Add some space at the top */
  }

  /* Stack items vertically */
  .project-item2, .project-item3, .project-item4 {
    margin-top: 15px; /* Vertical spacing between project items */
  }

  .more-projects {
    display: contents;
    width: 90%; /* Full width for the button */
    top: 50px;
    left: auto;
    margin: 5px auto; /* Add margin to center and space it out */
    block-size: 5px;
    border-width: 5px;
  }

  .project-info h3 {
    font-size: 0.7rem;
  }
  
  .project-info p {
    font-size: 0.5rem;
  }

  .project-number {
    display: none;
  }

  .internships h1{
    top: 200px;
    left: 10px;
  }

  .intern1, .intern2 {
    width: 90%; /* Full width for small screens */
    margin: 10px auto; /* Centered on the screen */
    position: relative; /* Relative positioning for better flexibility */
    top: auto;
    left: auto;
  }

  .intern1 {
    margin-top: 20px; /* Add spacing */
    top: 80px;
  }

  .intern2 {
    margin-top: 20px; /* Add spacing */
    top: 100px;
  }

  .intern-info h3 {
    font-size: 0.5rem; /* Smaller heading for better fit */
  }

  .intern-info p {
    font-size: 0.3rem; /* Adjust paragraph text size */
  }

  .intern-image img {
    width: 100px;
    height: 100px;
  }

  .educate1 {width: 70%; position: absolute; top: 250px; left: 50px}
  .educate1 p{
    font-size: 0.6rem;
  }

  .educate1 h2 {font-size: 0.9rem;}
  .educate1 h3 {font-size: 0.8rem;}
  .educate1 h4 {font-size: 0.7rem;}
  .educate1 h5 {font-size: 0.6rem;}

  .educate2 {display: none;}
  .educate3 {display: none;}

  .skills {
    width: 90%; /* Adjust width for smaller screens */
    margin: 0 auto; /* Centered */
    padding: 20px; /* Add padding for spacing */
  }

  .skills h1 {
    position: relative;
    top: 10px;
    left: 0; /* Center title on small screens */
    text-align: center;
    font-size: 1rem;
  }

  .skill-item1, .skill-item2, .skill-item3, .skill-item4 {
    width: 90%; /* Full width for project items */
    position: relative; /* Relative positioning for better control */
    top: auto;
    left: auto;
    margin: 15px auto; /* Center and add spacing between items */
  }

  .skill-item1 {
    margin-top: 40px; /* Add some space at the top */
  }

  /* Stack items vertically */
  .skill-item2, .skill-item3, .skill-item4 {
    margin-top: 15px; /* Vertical spacing between project items */
  }

  .certifcates {
    display: contents;
    width: 90%; /* Full width for the button */
    top: 50px;
    left: auto;
    margin: 5px auto; /* Add margin to center and space it out */
    block-size: 5px;
    border-width: 5px;
  }

  .skill-info h3 {
    font-size: 0.7rem;
  }
  
  .skill-info p {
    font-size: 0.5rem;
  }

  .skill-number {
    display: none;
  }

  .download-CV {
    display: contents;
    width: 90%; /* Full width for the button */
    top: 50px;
    left: auto;
    margin: 5px auto; /* Add margin to center and space it out */
    block-size: 5px;
    border-width: 5px;
  }

  .contacts h1{
    top: 200px;
    left: 10px;
  }

  .contact1, .contact2 {
    width: 90%; /* Full width for small screens */
    margin: 10px auto; /* Centered on the screen */
    position: relative; /* Relative positioning for better flexibility */
    top: auto;
    left: auto;
  }

  .contact1 {
    margin-top: 20px; /* Add spacing */
    top: 80px;
  }

  .contact2 {
    margin-top: 20px; /* Add spacing */
    top: 100px;
  }

  .contact-info h3 {
    font-size: 0.8rem; /* Smaller heading for better fit */
  }

  .contact-info p {
    font-size: 0.6rem; /* Adjust paragraph text size */
  }

  .contact-image img {
    width: 100px;
    height: 100px;
  }
}

/* Small devices (tablets, less than 768px) */
@media (max-width: 768px) {
  .logo {
    font-size: 1.5rem;
    left: 20px;
  }

  nav {
    width: 100%;
    left: 0;
  }

  nav ul {
    flex-direction: column;
  }

  .profile-pic img {
    top: 180px;
    left: 30px;
    width: 250px;
    height: 250px;
  }

  .project-item1, .project-item2, .project-item3, .project-item4 {
    width: 80%;
    left: 10%;
    top: auto;
    position: relative;
    margin: 15px auto;
  }

  .more-projects {
    top: auto;
    left: 0;
    margin-top: 15px;
    width: 100%;
  }
}

/* Medium devices (laptops, less than 1024px) */
@media (max-width: 1024px) {
  .logo {
    font-size: 2.5rem;
    left: 30px;
  }

  nav {
    width: 100%;
    left: 0;
  }

  nav ul {
    justify-content: space-between;
    padding: 10px 0;
  }

  .profile-pic img {
    top: 200px;
    left: 50px;
    width: 300px;
    height: 300px;
  }

  .project-item1, .project-item2, .project-item3, .project-item4 {
    width: 45%;
    left: auto;
    margin: 15px auto;
    position: relative;
  }

  .more-projects {
    top: 500px;
    left: auto;
  }
}

/* For extra-large screens (desktops larger than 1440px) */
@media (min-width: 1440px) {
  .welcome-area h1 {
    font-size: 3rem;
  }

  .profile-pic img {
    width: 400px;
    height: 400px;
  }

  .project-item1, .project-item2, .project-item3, .project-item4 {
    width: 40%;
  }

  .more-projects {
    top: 600px;
  }
}